<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/alt_window_32.gif">
         <run
               class="com.rcp.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.rcp.application.Perspective"
            icon="icons/alt_window_16.gif"
            id="com.rcp.application.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.rcp.application.views.DetailsView"
            icon="icons/alt_window_16.gif"
            id="com.rcp.application.details.view"
            name="Details">
      </view>
      <view
            class="com.rcp.application.views.RecordsView"
            icon="icons/alt_window_16.gif"
            id="com.rcp.application.details.records"
            name="Records"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.rcp.application.perspective">
         <view
               id="com.rcp.application.details.records"
               minimized="false"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               id="com.rcp.application.details.view"
               minimized="false"
               ratio="0.6"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.rcp.application.editor.PersonEditor"
            id="com.rcp.application.editor"
            name="Person Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.rcp.application.OpenInEditor"
            id="com.rcp.application.open_editor"
            name="Open in Editor">
      </command>
   </extension>

</plugin>
